@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: 0;
  font-family: "Roboto";
  border: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

body {
  background-color: #E5E5E5;
}

.sec {
  width: 100%;
  height: auto;
  padding: 0 5%;
}
.sec .sec-cont {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  background-color: #011827;
  color: #FFFFFF;
}
nav .sec-cont {
  padding: 1rem 0;
}
nav .logo-hbg-cont {
  display: block;
  width: 100%;
  height: auto;
  margin: auto 0;
}
nav .logo-hbg-cont .logo {
  display: inline-block;
  background-image: url("/assets/logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 8rem;
  height: 5rem;
}
nav .logo-hbg-cont h1 {
  display: inline-block;
  height: 100%;
  text-align: end;
  pointer-events: none;
  margin-left: 0.8rem;
  transform: translateY(-0.7rem);
  font-size: 2.3rem;
}
nav .logo-hbg-cont h1 span {
  margin-right: 0.58rem;
}
nav .logo-hbg-cont .hamburger {
  display: none;
}
nav menu {
  width: 100%;
  height: 3.2rem;
}
nav menu ul {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 0.2rem;
}
nav menu ul a {
  color: #FFFFFF;
}
nav menu ul a:hover {
  color: #8ACFE5;
}
nav menu ul .close {
  display: none;
}

@media (max-width: 950px) {
  nav .logo-hbg-cont {
    width: 100%;
  }
  nav .logo-hbg-cont .logo {
    transform: translateY(0.2rem);
  }
  nav .logo-hbg-cont h1 {
    height: auto;
    text-align: left;
    line-height: 1.7rem;
    font-size: 24px;
    transform: translateY(-0.1rem);
  }
  nav .logo-hbg-cont h1 span {
    display: block;
  }
  nav .logo-hbg-cont .hamburger {
    display: block;
    margin-top: 0.4rem;
    float: right;
    width: 51px;
    height: 32px;
    background-image: url("/assets/hamburger.svg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  nav menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 99;
    padding: 3%;
  }
  nav menu ul {
    animation: fadeIn 1s;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #011827;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav menu ul a {
    font-size: 2rem;
    padding: 2rem 1rem;
  }
  nav menu ul .close {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background-image: url("./../assets/close.svg");
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (max-width: 500px) {
  nav .logo-hbg-cont .logo {
    transform: translateY(0.1rem);
    width: 6rem;
    height: 4rem;
  }
  nav .logo-hbg-cont h1 {
    font-size: 20px;
    line-height: 1.25rem;
    transform: translateY(-0.2rem);
  }
  nav .logo-hbg-cont .hamburger {
    margin-top: 0.5rem;
    width: 2.6rem;
    height: 1.63rem;
  }
}
.banner {
  width: 100%;
  height: 30rem;
  background-image: url("/assets/banner.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner > div {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  top: 100%;
  right: 50%;
  transform: translate(50%, -50%);
}
.banner > div .btnOne {
  font-weight: 700;
  background-color: #E3170A;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 1rem 3rem;
  font-size: 24px;
  margin-right: 1rem;
}
.banner > div .btnOne:hover {
  cursor: pointer;
}
.banner > div .btnTwo {
  font-weight: 700;
  background-color: #E3170A;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 1rem 3rem;
  font-size: 24px;
  background-color: #8ACFE5;
  color: #011827;
}
.banner > div .btnTwo:hover {
  cursor: pointer;
}

@media (max-width: 950px) {
  .banner > div {
    bottom: -80%;
    flex-direction: column-reverse;
    padding: 0 5%;
    justify-content: unset;
    align-items: center;
  }
  .banner > div .btnOne,
.banner > div .btnTwo {
    margin-right: 0;
    font-size: 24px;
  }
  .banner > div .btnOne {
    font-size: 16px;
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0);
    color: #36769D;
    text-decoration: underline;
  }
}
@media (max-width: 500px) {
  .banner {
    height: 15rem;
  }
  .banner > div {
    bottom: -150%;
  }
  .banner > div .btnOne,
.banner > div .btnTwo {
    font-size: 20px;
  }
  .banner > div .btnOne {
    font-size: 15px;
  }
}
.reviews {
  margin: 10rem 0;
}
.reviews .sec-cont {
  display: flex;
  justify-content: space-between;
}
.reviews .review {
  width: 45%;
  height: auto;
  display: flex;
}
.reviews .review .user-cont {
  width: auto;
  height: 100%;
  margin-right: 1rem;
}
.reviews .review .user-cont .user-icon {
  width: 5rem;
  height: 5rem;
  background-image: url("/assets/user.svg");
  background-size: cover;
  background-position: top;
  float: left;
}
.reviews .review .description p {
  font-size: 1.1rem;
}
.reviews .review .description .review-text {
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

@media (max-width: 950px) {
  .reviews {
    margin: 15rem 0 7rem 0;
  }
  .reviews .sec-cont {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 1rem;
  }
  .reviews .sec-cont::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
  .reviews .review {
    min-width: 100%;
    margin-left: 1rem;
  }
  .reviews .review:first-child {
    margin-left: 0;
  }
  .reviews .review .description .space {
    display: none;
  }
}
@media (max-width: 500px) {
  .reviews .review .user-cont .user-icon {
    width: 4rem;
    height: 4rem;
  }
  .reviews .review .description p {
    font-size: 0.9rem;
  }
  .reviews .review .description .review-text {
    font-size: 1.2rem;
  }
}
.challenges {
  margin: 5rem 0;
}
.challenges .star,
.challenges .star-empty {
  background-image: url("/assets/star.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
}
.challenges .star-empty {
  background-image: url("/assets/star-empty.svg");
}
.challenges .main-title {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  margin: 4rem;
}
.challenges .boxes {
  display: flex;
  justify-content: space-between;
}
.challenges .boxes .box {
  width: 28%;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 3px 0 rgba(32, 33, 36, 0.28);
}
.challenges .boxes .box .box-img {
  background-image: url("/assets/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px 8px 0 0;
  height: 14rem;
}
.challenges .boxes .box .content {
  padding: 1rem;
}
.challenges .boxes .box .content > .title {
  font-weight: 400;
  font-size: 28px;
}
.challenges .boxes .box .content .star-part-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem 0 1.3rem 0;
}
.challenges .boxes .box .content .star-part-cont .stars {
  display: flex;
}
.challenges .boxes .box .content .star-part-cont p {
  font-size: 14px;
}
.challenges .boxes .box .content .description {
  font-size: 18px;
}
.challenges .boxes .box .content .button-cont {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.3rem;
}
.challenges .boxes .box .content .button-cont > button {
  font-weight: 700;
  background-color: #E3170A;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 1rem 3rem;
  font-size: 24px;
  padding: 0.8rem 2rem;
  font-size: 16px;
}
.challenges .boxes .box .content .button-cont > button:hover {
  cursor: pointer;
}
.challenges .btns-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}
.challenges .btns-cont .btn1 {
  margin-right: 1rem;
  font-weight: 700;
  background-color: #E3170A;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 1rem 3rem;
  font-size: 24px;
}
.challenges .btns-cont .btn1:hover {
  cursor: pointer;
}
.challenges .btns-cont .btn2 {
  font-weight: 700;
  background-color: #E3170A;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 1rem 3rem;
  font-size: 24px;
  background-color: #8ACFE5;
  color: #011827;
}
.challenges .btns-cont .btn2:hover {
  cursor: pointer;
}

@media (max-width: 950px) {
  .challenges {
    padding: 0;
  }
  .challenges .star,
.challenges .star-empty {
    width: 0.8rem;
    height: 0.8rem;
  }
  .challenges .main-title {
    text-align: center;
    margin: 4rem 0;
    padding: 0 5%;
  }
  .challenges .boxes {
    padding-left: 15%;
    justify-content: unset;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .challenges .boxes::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
  .challenges .boxes .box {
    min-width: 85%;
    margin-right: 2rem;
    box-shadow: none;
  }
  .challenges .boxes .box .content .star-part-cont {
    justify-content: unset;
  }
  .challenges .boxes .box .content .star-part-cont .stars {
    margin-right: 0.5rem;
    transform: translateY(-0.05rem);
  }
  .challenges .boxes:first-child {
    margin: 15% !important;
  }
  .challenges .btns-cont {
    flex-direction: column-reverse;
    padding: 0 5%;
    justify-content: unset;
    align-items: center;
  }
  .challenges .btns-cont .btn1,
.challenges .btns-cont .btn2 {
    font-size: 24px;
    margin: 0;
  }
  .challenges .btns-cont .btn1 {
    font-size: 16px;
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0);
    color: #36769D;
    text-decoration: underline;
  }
}
@media (max-width: 500px) {
  .challenges .main-title {
    font-size: 1.6rem;
  }
  .challenges .boxes .box .box-img {
    height: 12rem;
  }
  .challenges .boxes .box .content .title {
    font-size: 20px;
  }
  .challenges .boxes .box .content .star-part-cont p {
    font-size: 12px;
  }
  .challenges .boxes .box .content .description {
    font-size: 14px;
  }
  .challenges .boxes .box .content .button-cont button {
    padding: 0.7rem 1.5rem;
    font-size: 15px;
  }
  .challenges .btns-cont .btn1,
.challenges .btns-cont .btn2 {
    font-size: 20px;
  }
  .challenges .btns-cont .btn1 {
    font-size: 15px;
  }
}
.subinfo {
  background-color: #011827;
}
.subinfo .sec-cont {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subinfo p {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.5rem;
  max-width: 60%;
  height: auto;
}
.subinfo button {
  margin-top: 2rem;
  font-weight: 700;
  background-color: #E3170A;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 1rem 3rem;
  font-size: 24px;
  background-color: inherit;
  color: #8ACFE5;
  border: 0.15rem solid #8ACFE5;
  padding: 0.85rem 2.85rem;
}
.subinfo button:hover {
  cursor: pointer;
}

@media (max-width: 950px) {
  .subinfo p {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .subinfo p {
    font-size: 1.3rem;
  }
  .subinfo button {
    font-size: 20px;
  }
}
.blocks .blocks-cont {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
}
.blocks .blocks-cont .block {
  width: 50%;
  height: 30rem;
}
.blocks .blocks-cont .block1,
.blocks .blocks-cont .block4 {
  background-image: url("/assets/img-one.png");
  background-size: cover;
  background-position: center;
}
.blocks .blocks-cont .block1 {
  order: 1;
}
.blocks .blocks-cont .block2 {
  order: 2;
}
.blocks .blocks-cont .block3 {
  order: 3;
}
.blocks .blocks-cont .block2,
.blocks .blocks-cont .block3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
}
.blocks .blocks-cont .block2 h2,
.blocks .blocks-cont .block3 h2 {
  font-size: 2rem;
}
.blocks .blocks-cont .block2 p,
.blocks .blocks-cont .block3 p {
  font-size: 1.5rem;
}
.blocks .blocks-cont .block4 {
  order: 4;
  background-image: url("/assets/img-two.png");
}
.blocks .blocks-cont button {
  font-weight: 700;
  background-color: #E3170A;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 1rem 3rem;
  font-size: 24px;
  padding: 0.7rem 1.5rem;
  font-size: 1.5rem;
}
.blocks .blocks-cont button:hover {
  cursor: pointer;
}

@media (max-width: 1500px) {
  .blocks {
    padding: 0;
  }
  .blocks .sec-cont {
    max-width: 100%;
    margin: 0;
  }
  .blocks .blocks-cont .block2,
.blocks .blocks-cont .block3 {
    padding: 0 8rem;
  }
}
@media (max-width: 1000px) {
  .blocks .blocks-cont {
    flex-flow: unset;
    flex-direction: column;
  }
  .blocks .blocks-cont .block {
    width: 100%;
    height: 25rem;
  }
  .blocks .blocks-cont .block2,
.blocks .blocks-cont .block3 {
    padding: 0 5%;
  }
  .blocks .blocks-cont .block3 {
    order: 4;
  }
  .blocks .blocks-cont .block4 {
    order: 3;
  }
}
@media (max-width: 500px) {
  .blocks .blocks-cont .block h2 {
    font-size: 1.5rem;
  }
  .blocks .blocks-cont .block p {
    font-size: 1.1rem;
  }
  .blocks .blocks-cont .block button {
    font-size: 1.1rem;
  }
}
footer {
  background-color: #011827;
  margin-top: 10rem;
  color: #FFFFFF;
}
footer a,
footer h5,
footer p {
  color: #FFFFFF;
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
}
footer a {
  margin-bottom: 0.2rem;
}
footer h5 {
  pointer-events: none;
}
footer a:hover {
  color: #8ACFE5;
}
footer .sec-cont {
  padding: 13rem 0;
  display: flex;
  justify-content: space-between;
}
footer .footer-text {
  width: 40%;
}
footer .links {
  display: flex;
}
footer .links > div {
  width: 10rem;
}

@media (max-width: 950px) {
  footer .sec-cont {
    padding: 5rem 0;
    flex-direction: column;
    width: 100%;
  }
  footer .sec-cont .footer-text {
    width: inherit;
    margin-bottom: 1.8rem;
  }
  footer .sec-cont .links {
    flex-direction: column;
    width: inherit;
  }
  footer .sec-cont .links a {
    text-decoration: none;
  }
  footer .sec-cont .links .site {
    margin-bottom: 1.8rem;
  }
}
@media (max-width: 500px) {
  footer a,
footer h5,
footer p {
    font-size: 0.9rem;
  }
}
